$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
}

/* animations */

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

/* other styles */
/* .svg svg {
    display: none
}
 */
// .inlinesvg .svg svg {
//     display: inline
// }

/* .svg img {
    display: none
} */

.icon--order-success svg path {
    animation: checkmark 0.25s ease-in-out 7s backwards
}

.icon--order-success svg circle {
    animation: checkmark-circle 0.6s ease-in-out backwards
}
