$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
}

.checkmark-wrapper {
    width: 75px;
    height: 75px;
}
.checkSVG {
    animation: checkSVG .5s ease forwards;
    animation-delay: .7s;
}
.checkmark {
    stroke: none;
    fill: none;
    stroke-dashoffset: -300;
    stroke-dasharray: 850;
    animation: check 2s ease forwards;
    stroke-width: 20;
    stroke-miterlimit: 400;
    animation: check .7s ease forwards;
    animation-delay: .7s;
}
.circle {
    cx: 275;
    cy: 275;
    r: 200;
    stroke: none;
    fill: none;
    stroke-dashoffset: -1260;
    stroke-dasharray: 1260;
    animation: circle 1.2s ease forwards;
    stroke-width: 20;
    stroke-miterlimit: 10;
    -webkit-stroke-alignment: inner;
}

@keyframes circle {
    0% {
        stroke-dashoffset: -1260;
        stroke: #61B136;
        r: 200;
        stroke-dasharray: 1260;
    }

    40% {
        stroke: #61B136;
        stroke-dashoffset: 0;
        r: 200;
        fill: none;
        stroke-width: 20;

    }
    75% {
        stroke: #61B136;
        stroke-dashoffset: 0;
        /*transform: scale(1);*/
        stroke-width: 250;
        r: 85;
        fill: #61B136;
    }
    95% {
        stroke-dashoffset: 0;
        /*transform: scale(1.1);*/
        stroke-width: 250;
        r: 85;
        fill: #61B136;

    }
    100% {
        stroke: #61B136;
        stroke-dashoffset: 0;
        /*transform: scale(1);*/
        stroke-width: 250;
        r:85;
        fill: #61B136;
    }
}
@keyframes check {
    0% {
        stroke-dashoffset: -300;
        stroke: white;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
        /*transform: scale(1);*/
    }
    85% {
        stroke-dashoffset: 500;
        /*transform: scale(1.1);*/
    }
    100% {
        opacity: 1;
        stroke-dashoffset: 500;
        /*transform: scale(1);*/
        stroke: white;
    }
}

@keyframes checkSVG {
    0% {
        transform: none;
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
